* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 1em;
    line-height: 1.4;
    color: #313030;
    height: 100%;
    overflow-x: hidden;
}

header,
footer {
    display: flex;
    align-items: center;
    height: 5vh;

    padding-inline: 10px;
    background-color: lightblue;
}

header {
    margin-block-end: .5rem;
}

footer {
    justify-content: space-between;
}

.book-filter {
    /* color: white; */
	background-color: rgb(170, 188, 213);
	padding: 20px;
	margin: 20px 0;
}

.book-filter fieldset {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter-by select,
.sort-by select {
	margin-inline-end: 2em;
}

.filter-by select {
	text-transform: capitalize;
}

main {
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 10vh - 1.5rem);
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    background-color: rgb(154, 178, 241);
    margin-block-end: 10px;
}

.actions {
    display: flex;
	justify-content: space-between;
}

.sort-by{
    display: flex;
    flex-direction: column; 
}
.user-msg {
    position: absolute;
    top: 33px;
    right: -100%;

    padding: 5px 10px;
    background-color: rgb(172, 250, 70);
    border-radius: 5px;

    transition: right 600ms;
}

.user-msg.shown {
    right: 12px;
}

.user-msg p {
    margin: 0;
}

.modal {
    background-color: lightblue;
}

table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}

tr:nth-child(odd) {
    background: #fff;
}

.book-list:nth-child(even) {
    background: #F7F7F7;
}

.no-matches td {
    height: 100px;

    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: gray;
}

.hidden {
    display: none;
}

.title {
    width: 30%;
}

.price {
    width: 20%;
}

.rating{
    width: 10%;
}

.active {
    width: 50%;
}

.update {
    background-color: yellow;
}

.read {
    background-color: lightskyblue;
}

.delete {
    background-color: orange;
}

.stat-name {
    margin-left: 10px;
}