* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 1em;
    line-height: 1.4;
    color: #151515;
    height: 100%;
    overflow-x: hidden;
}

header,
footer {
    display: flex;
    align-items: center;
    height: 5vh;

    padding-inline: 10px;
    background-color: lightblue;
}

header {
    margin-block-end: .5rem;
}

footer {
    justify-content: space-between;
}

.book-filter {
    background-color: rgb(170, 188, 213);
    padding: 20px;
    margin: 20px 0;
}

.book-filter fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-by select,
.sort-by select {
    margin-inline-end: 2em;
}

.filter-by select {
    text-transform: capitalize;
}

main {
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 10vh - 1.5rem);
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    background-color: rgb(243, 223, 240);
    margin-block-end: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.book-filter button {
    margin-top: 10px;
}

.modal {
    width: 400px;
    padding: 10px;

    padding: 2em;
    border: 1px solid lightgray;
    transition: opacity 0.5s;
}

@starting-style {
    .modal {
        opacity: 0;
    }
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    color: whitesmoke;
    bottom: 10px;
    transition: bottom 0.5s;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    margin-block: 1em;
}

.sort-by {
    display: flex;
    flex-direction: row;
}

.sort-by select {
    max-height: 20px;
}

.modal {
    background-color: lightblue;
}

table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}

tr:nth-child(odd) {
    background: #fff;
}

.book-list:nth-child(even) {
    background: #F7F7F7;
}

.no-matches td {
    height: 100px;

    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: gray;
}

.cancel {
    margin-top: 20px;
}

.save {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.title {
    width: 30%;
}

.price {
    width: 20%;
}

.rating {
    width: 10%;
}

.active {
    width: 50%;
}

.update {
    background-color: yellow;
}

.read {
    background-color: lightskyblue;
}

.delete {
    background-color: orange;
}

.stat-name {
    margin-left: 10px;
}